<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="A cozy cat-themed website featuring adorable neocat emotes!" />
		<title>kibty >:3</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	*, *::before, *::after {
		box-sizing: border-box;
	}

	html, body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100%;
		font-family: 'Nunito', sans-serif;
		background: #fdf4ff;
		color: #3b1f5e;
	}

	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: #f5e6ff;
	}
	::-webkit-scrollbar-thumb {
		background: #c084fc;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #a855f7;
	}
</style>
